<!-- for authentication -->
{% macro authentication(text) %}
    <form class="needs-validation" method="post" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">User Name</label>
            <input class="form-control" type="text" name="username" required>
            <div class="invalid-feedback">
                Please input an user name
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input class="form-control" type="email" name="email" required>
            <div class="invalid-feedback">
                Please input an email
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" type="password" name="password" required>
            <div class="invalid-feedback">
                Please input password
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{{ text }}</button>
    </form>
{%- endmacro %}



<!-- For game -->

<!-- For character creation -->
{% macro character_creation_or_update(text, value='', money='') %}
    <form class="needs-validation" method="post" novalidate>
        <div class="mb-3">
            <label for="name" class="form-label">Character Name</label>
            <input class="form-control" type="text" value="{{ value|e }}" placeholder="John Wick" name="name" required>
            <div class="invalid-feedback">
                Please input a name for the character
            </div>
        </div>
        <div class="mb-3">
            <label for="funds" class="form-label">Funds</label>
            <input class="form-control" type="number" value="{{ money|e }}" name="funds" min="0" max="10000" step="1" required>
            <div class="invalid-feedback">
                Please input a positive integer number
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{{ text }}</button>
    </form>
{%- endmacro %}

<!-- For deleting a character -->
{% macro restart() %}
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">
    Restart
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Restart</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          This will delete your character and restart from the beginning again. Are you sure?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form method="post">
            <input type="hidden" value="restart" name="choice">
            <button type="submit" class="btn btn-danger">Restart</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{%- endmacro %}


<!-- For scenarios -->
{% macro decisions(value, text) %}
    <form class="mb-3" method="post">
        <input type="hidden" value="{{ value|e }}" name="choice">
        <button type="submit" class="btn btn-primary">{{ text|e }}</button>
    </form>
{%- endmacro %}
