{% macro fire_with_insurance() %}
    <p>
        You have lost your house to fire and you have $12,000 left. 
        You claimed the insurance and received a compensation of $100,000. 
        Would you spend the money on buying a car that costs $90,000 or take the public transport instead?
    </p>
{%- endmacro %}

{% macro fire_without_insurance() %}
    <p>
        You have lost your house to a fire and you have $12,000 left. 
        Would you spend it on buying insurance which costs $10,000 or rent a house for $1,000 each month?
    </p>
{%- endmacro %}